<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aula 15-04</title>
</head>
<body>
    <h1> Samsung Ocean</h1>
    <a href="https://oceanbrasil.com/">Samsung Ocean</a>
    <img src="static/duck.webp" height="800" width="920" pato no meio do matagal verde"

    <h1>Titulo 1</h1>
    <h2>Titulo 2</h2> 
    <h3>Titulo 3</h3>
    <h4>Titulo 4</h4>
    <h5>Titulo 5</h5>
    <h6>Titulo 6</h6>

    <h1>Lista de Times</h1>
    <ul>
        <li>São Paulo</li>
        <li>Bahia</li>
        <li>Atletico Mineiro</li>
        <li>Flamengo</li>
        <li>Santos</li>
    </ul>

    <h1>Lista de Frutas</h1>
    <ol>
        <li>Cacau</li>
        <p>Fruta originária da África, trazida à Bahia se adaptou facilmente ao clima da região.</p>
        <li>Coco</li>
        <li>Manga</li>
        <li>Siriguela</li>
        <li>melancia</li>
    </ol>
    <dl>
<dt>HTML</dt>
<dd>Linguagem de Marcação de Hipertexto</dd>
<dt>Java</dt>
<dd>Melhor linguagem do mundo</dd>
</dl>

    
</body>
</html>